<div class="bowb">
  <h2>Meet the Author</h2>

  <!-- **In about 50 characters.** Ben Wilson is a science fiction writer, husband, father, project manager, lover of the divine, & human nature student. -->

  <p>Ben Wilson is the author of the Postal Marines science fantasy series. He’s into history, human nature and religious studies. He served in the US Army through his 20s and got to meet some great people there. Now he does routine IT project management for customers who should know better. He pays the bills through their frustration. Ben lives in Northern Virginia with his wife, three of his four children, and two rabid attack cats. No, I did not sell the oldest off to the Core, as much as I might have liked to. He has a family of his own.</p>
</div>

<div class="bowb">
  <h3>Get in Touch</h3>

  <ul>
    <li>{% include icon.html icon='fad fa-fw fa-at' %}Send an email at <a href="mailto:hello@merovex.com">hello@merovex.com</a></li>
    <li>{% include icon.html icon='fab fa-fw fa-facebook' %} Follow on <a href="https://fb.me/BenWilsonWrites">@Facebook</a></li>
    <li>{% include icon.html icon='fad fa-fw fa-newspaper' %}<a href="/subscribe">Subscribe</a> to our email newsletter and never miss an update</li>
  </ul>
</div>

<div class="bowb">
  <h3>Why I Write</h3>
  <div>
    <blockquote >
      My life is about telling stories.
      <cite>Ben Wilson</cite>
    </blockquote>

    <p>When friends and co-workers find that I write novels, I explain that I am a poor writer of bad Science Fiction. I don’t pretend to write the Great American Novel, or even the most provocative. I just write and try to improve. I was raised by a storytelling father and served in a storytelling culture. I love telling stories, and I thought I should write a few of them down.</p>
  </div>
</div>

<div class="bowb">
  <h3>Who is my audience?</h3>

  <p>You are my audience. We are a lot alike. I spent my 20s in the Army, so I had my share of hurry-up-and-wait, make-work details, and time away from family. Even though I reenlisted a couple times, I counted every day until I separated. I joined during the First Gulf War, and left before the sequel. Now, I recall with nostalgia the good times and some friends who never made it to separation. Most my Facebook friends are former veterans I was honored to serve with. We are protectors, and we know there is more to this life than we're able to lead alone. We have (or want) families, and we are doing our best to lead them in an uncertain world. We both want fiction that feeds our need to serve.</p>
</div>
