<footer class='flex justify-between items-center px-8 py-2 mt-16 dark:bg-brand-800 bg-brand-700 text-white'>
    {%- if site.venue %}
    <div>
    {% include icon.html icon='far fa-laugh' %} Hello from <a class='hover:underline' href="/uses">{{site.venue}}</a>.
    </div>
    {%- endif %}
    <div><a class='hover:underline' href='{{'/privacy/'}}'>Privacy</a></div>
    <div><a class='hover:underline' href='{{'/permissions/'}}'>Terms of Use</a></div>
    <div>{% include icon.html icon='far fa-copyright' %} 1998&ndash;{{ site.time | date: '%Y' }} Ben Wilson</div>
</footer>