    <header class="bg-brand-500 dark:bg-brand-600 text-white relative flex flex-wrap items-center justify-between px-4 py-2">
      <a href="/" class="flex font-display text-4xl">
        {{ config.extra.brand | safe }}
        <span class="opacity-50 mr-4">{% include logo.svg %}</span>
        <span>{{site.title}}</span>
        {%- if site.subtitle %}
        <span class='opacity-50'>{{site.subtitle}}</span>
        {% endif %}
      </a>
      <nav>
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">&#9776;</label>
        {% include nav.html %}
      </nav>
    </header>