<div class="menu">
  {% include header-link.html url='/#featured' label='Home' icon='fad fa-home'%}
  {% include header-link.html url='/#books' label='Books' icon='fad fa-books'%}
  {% include header-link.html url='/#bio' label='Bio' icon='fad fa-id-card'%}
  {% include header-link.html url='/posts/' label='Blog' icon='fad fa-newspaper'%}
  {% include header-link.html url='/#books' label='Books' icon='fad fa-books'%}
  <a rel="prefetch" href="/subscribe/" class="px-2 py-1 rounded shadow hover:shadow-lg outline-none ease-linear transition-all duration-150 bg-brand-50 text-black hover:bg-brand-100">
    {% include icon.html icon='fad fa-envelope' %} Subscribe
  </a>
</div>