article {
  .ghost {
    font-size: 40vw;
    line-height: 1;
    position: absolute;
    top: 10vh;
    left: 0;
    padding-left: 5vw;
    color: rgba($gray-500,0.1);
    white-space: nowrap;
    overflow-x: hidden;
    font-family: "Merriweather Sans";
    z-index: -500;
    width: 100%;
  }
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 10px 10px 10px;
  font-family: var(--font-sans);
  strong {
    color: var(--strong-fg);
  }
  em {
    color: var(--emphasis-fg);
  }
  .metadata {
    font-size: 80%;
    opacity: 80%;
    text-align: center;
    .tags {
      a {
        &+a:before {
          content: "\b7\a0";
          color: var(--foreground);
        }
      }
    }
  }
  &.page {
    max-width: 70ch;
  }
  &+ article {
    padding: 10px;
  }
  blockquote {
    cite {
      display: block;
      opacity: 0.6;
    }
  }
  small {
    font-family: var(--font-system);
  }
  table {
    table-layout:fixed;
    width:100%;
    overflow-x: scroll;
    scroll-behavior: auto;
    th {
      background: var(--primary);
    }
    th[scope=row] {
      background: transparent;
      color: var(--foreground);
    }
  }
  pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .footnotes {
    border-top: 2px solid var(--red);
    font-size: 0.8em;
    font-family: var(--font-system);
  }
  .related {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    a {
      &.next {
        text-align: right;
      }
    }
  }
}
.post-item {
  .svg-inline--fa {
    color: var(--primary);
  }
}
