.book-summary {
  // border: 1px solid red;
  h3 {
    font-family: var(--font-heading);
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &+.book-summary {
    margin-top: 5vh;
  }
  aside {
    // border: 1px solid red;
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 200px;
      height: 360px;
    }
  }
  section {
    flex: 1 0 50%;
    width: 900px;
    // border: 1px solid red;
  }
  a {
    margin: 0 0.5em 0 0;
    i {
      margin-right: 0.3em;
    }
    span {
      @extend .sr-only;
    }
  }
  .cta-buttons {
    text-align: center;
    a {
      @extend .button;
      margin: 0.5em;
    }
  }
}
main .book-summary {
  box-shadow: 0em 1em 1em rgba(#111,0.1);
  border-radius: 0.3rem;
  padding: 2em;
}
