@import 'contrast';

$system-fonts: -apple-system,BlinkMacSystemFont,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
$serif-fonts: Georgia, Cambria, "Times New Roman", Times, serif;

// $primary: #4C586F;
// https://www.canva.com/learn/brand-color-palette/
// Morning mist
$gray-300: #2E323C;
$primary: #45415E;
$purple: #45415E;
$blue: #2E4661;
$green: #234C3E;
$hsl: 245;
// Nordic Woods
// $gray-300: #3C455C;
// $primary: #B37C57;
// $blue: lighten($gray-300, 40%);

$primary:  hsl($hsl, 30, 40);
$primary-drk:  hsl($hsl, 20, 15);
$black:    hsl($hsl, 8, 5);
$gray-100: hsl($hsl, 8, 10); // darken($gray-300, 15%);
$gray-200: hsl($hsl, 8, 20); // darken($gray-300, 10%);
$gray-300: hsl($hsl, 8, 30); // darken($gray-300, 10%);
$gray-400: hsl($hsl, 8, 40); // lighten($gray-300, 20%);
$gray-500: hsl($hsl, 8, 50); // lighten($gray-300, 30%);
$gray-600: hsl($hsl, 8, 60); // lighten($gray-300, 40%);
$gray-700: hsl($hsl, 8, 70); // lighten($gray-300, 50%);
$gray-800: hsl($hsl, 8, 80); // lighten($gray-300, 60%);
$gray-900: hsl($hsl, 8, 94); // lighten($gray-300, 70%);
$white:    hsl($hsl, 8, 97);

$red:      hsl(338, 40, 45) !default;
$orange:   hsl(28,  60, 45) !default;
$yellow:   hsl(48,  60, 45) !default;
$green:    hsl(128, 20, 45) !default;
$blue:     hsl(218, 20, 45) !default;
$indigo:   hsl(228, 20, 45) !default;
$violet:   hsl(268, 20, 45) !default;

$lite-bg: $gray-900;
$dark-bg: $gray-200;

:root {
  --font-heading: "Merriweather Sans",#{$system-fonts};
  --font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --font-sans: "Source Sans Pro",#{$system-fonts};
  --font-serif: "Source Serif Pro",#{$serif-fonts};
  --font-system: #{$system-fonts};

  --red:              #{contrast($red,      $lite-bg,0)};
  --orange:           #{contrast($orange,   $lite-bg,0)};
  --yellow:           #{contrast($yellow,   $lite-bg,0)};
  --green:            #{contrast($green,    $lite-bg,0)};
  --blue:             #{contrast($blue,     $lite-bg,0)};
  --indigo:           #{contrast($indigo,   $lite-bg,0)};
  --violet:           #{contrast($violet,   $lite-bg,0)};

  --primary:          #{contrast($primary,  $lite-bg,4)};
  --foreground:       #{contrast($gray-500, $lite-bg,7)};
  --gray:             #{$gray-300};
  --silver:           #{$gray-700};
  --mono-2:           #{$gray-600};
  --background:       #{$white};
  --navbar-bg:        #{$gray-900};
  --card-bg:          #{$gray-800};
  --midnight:         #{$gray-100};
  --black:            #{$gray-200};
  --highlight:        #{$gray-500};
  --white:            #{$white};
  --button-text:      #{$gray-900};
  --hero-button:      #{contrast($blue,    $dark-bg, 4)};;
  --hero-success:     #{contrast($green,   $dark-bg, 4)};
  --hero-button-text: #{$black};
  --zebra-bg:         #{$gray-900};
  --footer-bg:        #{$gray-900};
  --footer-fg:        #{contrast(#777, $gray-900, 7)};
}

@media (prefers-color-scheme: dark) {
  :root {
    --red:         #{contrast($red,    $dark-bg,4)};
    --orange:      #{contrast($orange, $dark-bg,4)};
    --yellow:      #{contrast($yellow, $dark-bg,4)};
    --green:       #{contrast($green,  $dark-bg,4)};
    --blue:        #{contrast($blue,   $dark-bg,4)};
    --indigo:      #{contrast($indigo, $dark-bg,4)};
    --violet:      #{contrast($violet, $dark-bg,4)};

    --primary:     #{contrast($primary,  $dark-bg,4)};
    --foreground:  #{contrast($gray-500, $dark-bg,7)};
    --white:       #{$gray-900};
    --silver:      #{$gray-700};
    --gray:        #{$gray-400};
    --mono-2:      #{$gray-500};
    --highlight:   #{$gray-500};
    --background:  #{$gray-200};
    --black:       #{$gray-100};
    --button-text: #{$gray-100};

    --zebra-bg:    #{$gray-300};
    --navbar-bg:   #{$gray-100};
    --card-bg:     #{$gray-300};
    --footer-bg:   #{$gray-100};
    --footer-fg:   #{contrast(#777, $gray-100, 7)};
  }
}
