:root {
  --font-system: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  --font-sans: "Source Sans Pro", -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  --font-heading: Oswald, -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;

  --dark-primary: #FFF;
  --dark-fg: #ABB2BF;
  --dark-gray: #3E4451;
  --dark-silver: #9DA5B4;
  --dark-mono-2: #828997;
  --dark-bg: #282C34;
  --dark-black: #21252B;
  --dark-midnight: #121417;
  --dark-highlight: #2C323C;
  --dark-white: #FAFAFA;
  --dark-red: #BE5046;
  --dark-green: #98C379;
  --dark-orange: #D19A66;
  --dark-blue: #61AFEF;
  --dark-purple: #C678DD;

  --lite-fg: #383A42;
  --lite-gray: #3E4451;
  --lite-silver: #9DA5B4;
  --lite-mono-2: #828997;
  --lite-bg: #FAFAFA;
  --lite-black: #21252B;
  --lite-midnight: #121417;
  --lite-highlight: #2C323C;
  --lite-white: #FAFAFA;
  --lite-red: #CA1243;
  --lite-green: #50A14F;
  --lite-orange: #C18401;
  --lite-blue: #4078F2;
  --lite-purple: #7a003e;
}
