#featured {
    position: relative;
    width: 100%;
    min-height: 70vh;
    transition: height 999999s;
    text-align: center;
    background: $primary-drk url(/assets/images/hero/asfalt-light.png);
    font-size: 1.2em;
    padding: 10vh 0;
    h3 { font-size: 3em; text-align: center;}
    h3, p {
      text-shadow: 1px 1px 2px #000;
    }
    aside {
      img { width: 300px; height: auto; margin: auto 0; }
    }
    section {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      p { margin: 1em; }
      a { margin-right: 1em; }
    }
    color: var(--white);
    ::selection { background-color: var(--primary); color: var(--white) }
    .button {
      background: var(--hero-button);
      color: var(--black);
    }
    .success {
      background: var(--hero-success) !important;
    }
    .warning {
      background: var(--orange) !important;
    }
    .error, .dangerous {
      background: var(--red) !important;
    }
}
