#merovex-privacy-notice {
  padding: 2em;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #FFF;
  a {
    cursor: pointer;
    margin-left: 10px;
    color: #FFF;
    padding: 0.1em;
    border-radius: 0.2em;
  }
}
@media (max-width: 767px) {
    #cookie-notice span {
      display: block;
      padding-top: 3px;
      margin-bottom: 13px;
    }
    #cookie-notice a {
      position: relative;
      bottom: 4px;
    }
}
