#merovex-privacy-notice {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 20em;
    a {
      margin: 0.5em;
      color: var(--white);
      text-decoration: underline;
      &.button {
        text-decoration: none;
      }
    }
  }
}
