@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.ttf');
    font-weight: normal;
    font-style: normal;
  }
}
@include font('IMFellEnglish',             '../fonts/IMFellEnglish-Regular');
@include font('IMFellEnglish-Italic',      '../fonts/IMFellEnglish-Italic');

@include font('MerovexSans',             '../fonts/SourceSansPro-Regular');
@include font('MerovexSans-Italic',      '../fonts/SourceSansPro-Italic');
@include font('MerovexSans-Bold',        '../fonts/SourceSansPro-Bold');
@include font('MerovexSans-BoldItalic',  '../fonts/SourceSansPro-BoldItalic');

@include font('MerovexSerif',            '../fonts/SourceSerifPro-Regular');
@include font('MerovexSerif-Italic',     '../fonts/SourceSerifPro-Italic');
@include font('MerovexSerif-Bold',       '../fonts/SourceSerifPro-Bold');
@include font('MerovexSerif-BoldItalic', '../fonts/SourceSerifPro-BoldItalic');

.test {
  border: 1px solid red;
}
// .prose {
//   p {
//     border: 1px solid red;
//     letter-spacing: -0.03;
//     line-height: 1.58;
//     &+ p {
//       text-indent: 1ch;
//     }
//   }
// }