@import "colors";
@import "hero";
@import "navbar";
@import "privacy-notice";

html, body {
  font-family: var(--font-system);
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  article.post, article.page {
    font-family: var(--font-sans);
    small {
      font-family: var(--font-system);
    }
  }
  abbr {

  }
}
h1, h2 {
  font-family: var(--font-heading);
}
ul.posts {
  li {
    list-style-type: none;
    time {
      text-align: right;
      font-size: 0.9em;
      font-family: var(--font-system)
    }
    a {
      padding-left: 1em;
    }
  }
}
.content__gdprBlock {
  font-size: 0.8em;
}
.visual {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 10px 10px 10px;
}
blockquote {
  cite {
    display: block;
    opacity: 0.6;
  }
}
#books article {
  &+article {
    margin-top: 10vh;
  }
  img {
    margin: auto;
    max-width: 200px;
  }
  a {
    margin: 0 0.5em 0 0;
  }
}
footer {
  margin-top: 1in;
  flex-shrink: 0;
}
#copyright {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 4px;
}
a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
@media (prefers-color-scheme: light) {
  body {
    background: var(--lite-white);
    color: var(--light-fg);
  }
  #copyright {
    background: var(--lite-silver);
  }
  nav {
    .brand svg {
      fill: var(--lite-purple);

    }
    &.transparent {
      svg {fill: var(--dark-white);}
      .subscribe {
        background: var(--dark-purple);
      }
    }
  }
  .card {
    background: var(--lite-white);
    border-color: var(--lite-white);
  }
  .subscribe, #merovex-privacy-notice {
    background: var(--lite-purple);
  }
  input, .checkable {
    color: var(--lite-midnight);
    background: var(--dark-white);
  }
  main {
    a {
      color: var(--lite-blue);
    }
    .label, [data-tooltip]:after, button, .button, [type=submit], .dropimage {
      background: var(--lite-blue);
      color: var(--lite-white);
    }
    .success {
      background: var(--lite-green) !important;
    }
    .warning {
      background: var(--lite-orange) !important;
    }
    .error, .dangerous {
      background: var(--lite-red) !important;
    }
    .pseudo {
      background: var(--lite-mono-2);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-bg);
    color: var(--dark-fg);
  }
  #copyright {
    background: var(--dark-black);
  }
  nav {
    background: var(--dark-black);
    .brand svg {
      fill: var(--dark-white);
    }
  }
  code, tr:nth-child(even), .toggle, figure pre {
    background: var(--dark-highlight);
  }
  .card {
    background: var(--dark-gray);
    border-color: var(--dark-silver);
  }
  .subscribe, #merovex-privacy-notice {
    background: var(--dark-purple);
    color: var(--dark-midnight);
  }
  input, .checkable {
    background: var(--dark-white);
    color: var(--dark-midnight);
  }
  blockquote {
    box-shadow: inset 5px 0 var(--dark-purple);
  }
  main {
    a {
      color: var(--dark-blue);
    }
    .label, [data-tooltip]:after, button, .button, [type=submit], .dropimage {
      background: var(--dark-blue);
      color: var(--dark-midnight);
    }
    .success {
      background: var(--dark-green) !important;
    }
    .warning {
      background: var(--dark-orange) !important;
    }
    .error, .dangerous {
      background: var(--dark-red) !important;
    }
    .pseudo {
      background: var(--dark-gray);
    }
    #hero {
      color: var(--dark-silver);
    }
  }
}
