@import "colors";
@import "dark";
@import "light";
@import "hero";
@import "navbar";
@import "privacy-notice";

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.text-center {
  text-align: center !important;
  display: block;
}
html, body {
  font-family: var(--font-system);
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  background: red;
  flex: 1 0 auto;
  a:hover {
    text-decoration: underline;
  }
  .footnotes {
    border-top: 2px solid var(--dark-red);
    font-size: 0.8em;
    font-family: var(--font-system);
  }
  h1, h2 {
    font-family: var(--font-heading);
  }
  article.post, article#page {
    font-family: var(--font-sans);
    small {
      font-family: var(--font-system);
    }
    table {
      table-layout:fixed;
      width:100%;
      overflow-x: scroll;
      scroll-behavior: auto;
    }
    pre, code {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .tag {
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }
}

@media all and (max-width: 60em) {
  h1, aside.tags, aside.related a { text-align: center !important;}

  nav .show ~ .menu {
    background: var(--dark-bg);
    color: var(--dark-fg);
  }
}
@media all and (min-width: 60em) {
  ul.posts { time { text-align: right; } }
}


ul.posts {
  li {
    list-style-type: none;
    time {
      font-size: 0.9em;
      font-family: var(--font-system)
    }
    a {
      padding-left: 1em;
    }
  }
}
.content__gdprBlock {
  font-size: 0.8em;
}
.visual {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 10px 10px 10px;
}
blockquote {
  cite {
    display: block;
    opacity: 0.6;
  }
}
.post {
  aside.related {
    margin-top: 2em;
    a {
      &.next {
        text-align: right;
      }
    }
  }
}
.cta-buttons {
  text-align: center;
}
#books article {
  &+article {
    margin-top: 10vh;
  }
  img {
    margin: auto;
    max-width: 200px;
  }
  a {
    margin: 0 0.5em 0 0;
  }
}
footer {
  margin-top: 1in;
  flex-shrink: 0;
}
#copyright {
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 4px;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
th[scope=row] {
  background: transparent;
}
