@import "colors";
@import "hero";
@import "navbar";
@import "privacy-notice";
@import "book-summary";

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.text-center {
  text-align: center !important;
  display: block;
}
body {
  font-family: var(--font-system);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}
main {
  ::selection { background-color: var(--primary); color: var(--white) }
  flex: 1 0 auto;
  a {
    color: var(--blue);
    &:hover {
      text-decoration: underline;
    }
  }

  .label, [data-tooltip]:after, button, .button, [type=submit], .dropimage {
    background: var(--blue);
    color: var(--white);
  }
  .success {
    background: var(--green) !important;
  }
  .warning {
    background: var(--orange) !important;
  }
  .error, .dangerous {
    background: var(--red) !important;
  }
  .pseudo {
    background: var(--mono-2);
  }
  h1, h2 {
    font-family: var(--font-heading);
  }
  #page, #books {
    text-align: left;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 10px 10px 10px;
    font-family: var(--font-sans);
    blockquote {
      cite {
        display: block;
        opacity: 0.6;
      }
    }
    small {
      font-family: var(--font-system);
    }
    table {
      table-layout:fixed;
      width:100%;
      overflow-x: scroll;
      scroll-behavior: auto;
      th[scope=row] {
        background: transparent;
        color: var(--foreground);
      }
    }
    pre, code {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    .footnotes {
      border-top: 2px solid var(--red);
      font-size: 0.8em;
      font-family: var(--font-system);
    }
    .related {
      @extend .flex;
      @extend .one;
      @extend .two-600;
      margin: 1em 0;
      a {
        &.next {
          text-align: right;
        }
      }
    }
    .tags {
      margin: 1em 0;
      @extend .one;
      @extend .two-600;
      a {
        @extend .label;
        font-size: 0.9em;
        margin-bottom: 0.5em;
      }
    }
  }
  figure {
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: var(--black);
      padding: 0px 8px;
      font-size: 0.9rem;
      color: var(--white);
      a {
        color: var(--blue);
      }
    }
  }
}

@media all and (max-width: 60em) {
  h1, .tags, .related a { text-align: center !important;}
  article {
    margin: 1em;
  }
  nav .show ~ .menu {
    background: var(--background);
    color: var(--foreground);
  }
  .posts {
    li { text-align: center;}
  }
}
@media all and (min-width: 60em) {
  ul.posts { time { text-align: right; } }
}

.posts {
  li {
    @extend .flex;
    @extend .three-600;
    @extend .one;
    @extend .center;
    list-style-type: none;
    time {
      @extend .third-600;
      font-size: 0.9em;
      font-family: var(--font-system)
    }
    a {
      @extend .two-third-600;
      padding-left: 1em;
    }
  }
}
.content__gdprBlock {
  font-size: 0.8em;
}

footer {
  margin-top: 1in;
  flex-shrink: 0;
  #copyright {
    background: var(--silver);
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 4px;
  }
}
.subscribe, #merovex-privacy-notice {
  background: var(--primary) !important;
}
.card {
  background: var(--card-background);
  border-color: var(--card-background);
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
input, .checkable {
  color: var(--midnight);
  background: var(--white);
}
