nav {
  .brand {
    font-family: Oswald;
    font-size: 1.5em;
    svg {
      height: 30px;
      transition: 0.4s;
    }
  }
  &.transparent {
    background: none;
    box-shadow: none;
    color: rgba(#FFF, 0.5);
    svg {
      fill: rgba(#FFF, 0.5);
    }
  }
  .menu {
    text-transform: uppercase;
  }
}
