@media print {
  main {
    #page {
      font-size: 11pt !important;
      line-height: 1.5;
      font-family: $serif-fonts !important;
    }
  }
  @page {
    margin: 1in;
  }
  nav {
    display: none;
  }
  .pagebreak {
    page-break-before: always;
  }
}
