---
layout: default
---
<section id="featured" class="invert">
  <img class='underlay' src="/assets/images/hero/{{page.underlay}}" alt="">
  <img src="/assets/images/hero/oil-underlay.jpg" alt="" class="fnord">
  {% assign books = site.books | sort: 'series' %}
  {%- for book in books -%}
  {%- if book.featured -%}
  <div class="container">{% include book-summary.html %}</div>
  {%- endif -%}
  {%- endfor -%}
</section>
<section class="statistics">
  {{ content }}
</section>
<section class='body' id='books'>
  <article>
    <h2>Books in the Strand Series</h2>
    {%- for book in books -%}
      {% unless book.hidden == true or book.released == false %}
      {% include book-summary.html %}
      {% endunless %}
    {%- endfor -%}
  </article>
</section>
<section class='body' id='bio'>
  {% capture bio %}{% include_relative about.html %}{% endcapture %}
  {% assign entry = bio | split: '<!-- more -->' %}
  
  <article>
  {{ entry | first }}
  </article>
</section>
<section class='body center' >
  <div>
    <h2>News</h2>
    {%include post-preview-items.html%}
  </div>
</section>
