---
layout: default
---


{% assign books = site.books | sort: 'series' %}
  {%- for book in books -%}
  {%- if book.featured -%}
  {% assign featured = book %}
  {%- endif -%}
  {%- endfor -%}
{%- unless featured == null %}
<section id="featured" class="invert">
  <img class='underlay' src="/assets/images/hero/{{page.underlay}}" alt="">
  <img src="/assets/images/hero/oil-underlay.jpg" alt="" class="fnord">
  {% assign book = featured %}
  <div class="container">{% include book-summary.html %}</div>
</section>
{%- endunless -%}
<section class="statistics">
  {{ content }}
</section>
<section class='body' id='books'>
  <div>
    {% assign library = site.books | group_by: 'series' %}
    {% for series in library %}
    <h2>Books in the {{ series.name }} Series</h2>
        {% assign books = series.items | sort: 'order' %}
        {% for book in books %}
            {% unless book.hidden == true or book.released == false %}
    {% include book-summary.html %}
            {% endunless %}
        {%endfor%}
    {%endfor%}
  </div>
</section>
<section class='body' id='bio'>
  {% capture bio %}{% include_relative about.html %}{% endcapture %}
  {% assign entry = bio | split: '<!-- more -->' %}
  <article>
  {{ entry | first }}
  </article>
</section>
<section class='body center' >
  <div>
    <h2>News</h2>
    {%include post-preview-items.html%}
  </div>
</section>
