---
layout: default
---

<article class='page'>
 {%include related-posts.html %}
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    <figure>
      <picture>
        {%- assign ext = page.photo['image'] | split: "." | last %}
        <source srcset="/assets/images/articles/{{page.photo['image'] | replace: ext, "webp" }}" type="image/webp">
        <source srcset="/assets/images/articles/{{page.photo['image'] }}" type="image/{{ext | replace: 'jpg', 'jpeg'}}">
        <img src="/assets/images/articles/{{page.photo['image']}}" alt="" />
      </picture>
      <figcaption>
        {{page.photo['caption']}},
        <a href='{{page.photo['url']}}'>{{page.photo['creator']}}</a>,
        {{page.photo['license']}}
      </figcaption>
    </figure>
    <p>
      Ben Wilson &middot;
      <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%e %B %Y" }}
      </time>
      <span class="tags">
        {%- for tag in page.tags %}
          {% include tag-link.html -%}
        {%- endfor %}
      </span>
    </p>
  </header>
  {{content}}
  {%include related-posts.html %}
</article>
