---
layout: default
---

<article class='page'>
 {%include related-posts.html %}
  <header>
    <div class="ghost">
      {{ page.title | slice: 0 }}
    </div>
    <h1 itemprop="headline">{{ page.title }}</h1>
    <figure>
      {%- assign image = page.photo['image'] %}
      {%- include picture.html klass='articles' image=image %}
      <figcaption>
        {{page.photo['caption']}},
        <a href='{{page.photo['url']}}'>{{page.photo['creator']}}</a>,
        {{page.photo['license']}}
      </figcaption>
    </figure>
    <p>
      Ben Wilson &middot;
      <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%e %B %Y" }}
      </time>
      <span class="tags">
        {% for tag in page.tags %}
          {%- include tag-link.html %}
        {%- endfor %}
      </span>
    </p>
  </header>
  {{content}}
  {%include related-posts.html %}
</article>
